In [ ]:
## Q.1  In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
## Ans.   * is multiple operator
##          'hello' is string
##           -87.8 is float
##          - is minus operator
##          / is divide operator
##          +	is add operator
##          6 is integer

In [ ]:
##Q.2    What is the difference between string and variable?
##Ans.   variable is store a value in a memory. And string is the datatype of a variable

## example:-
Str1="test"  ## here str1 is a varaiable and "test" is a string
print(type(Str1))

<class 'str'>

In [ ]:
##Q.3    Describe three different data types.
##Ans.   There are 5 different data types in python:-
##        1. Number
##        2. String
##        3. List
##        4. Tuple
##        5. Dictionary

In [ ]:
##Q.4     What is an expression made up of? What do all expressions do?
##Ans.    expression are made of operators like < , > , ==, != etc. They are used to compare the values in while loop or in if else condition

In [1]:
##Q.5     This assignment statements, like spam = 10. What is the difference between an expression and a statement?
##Ans.    expression is used for compare, and assignment is used to assign value to variable eg.:-
spam=10 ## assignment
if spam==10:    ## expression
  print("expression")

expression

In [ ]:
##Q.6     After running the following code, what does the variable bacon contain?
bacon = 22
print(bacon + 1)  ## 23

23

In [ ]:
##Q.7     What should the values of the following two terms be?
print('spam' + 'spamspam')
print('spam' * 3)
## both will be same

spamspamspam
spamspamspam

In [ ]:
##Q.8     Why is eggs a valid variable name while 100 is invalid?
##Ans.    Eggs variable is valid because first letter is character or String
##        But 100 variable is starting with numeric. Variable name can't be started from numeric

In [ ]:
##Q.9     What three functions can be used to get the integer, floating-point number, or string version of a value?
##Ans.    To convert into integer -> int()
##        To convert into floating-point number -> float()
##        To convert into string -> str()
##Example:-
print(type(int("23")))
print(type(float("23")))
print(type(str(23)))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
##Q.10     Why does this expression cause an error? How can you fix it?
##Ans.     This below statament fails becuase 99(int) can't be concatenated with string if you want to concatenate then need to convert 99 into string

print('I have eaten ' + 99 + ' burritos.')

TypeError: ignored